<%= form_tag form.path do %>
  <%= render 'rails_authentication_engine/shared/errors', errors: user.error_messages %>
  <p>
    Password:<br />
    <%= text_field_tag :password %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
