<%= form_tag form_path do %>
  <%= render 'rails_authentication_engine/shared/errors', errors: @user.errors %>
  <p>
    Password:<br />
    <%= text_field_tag :password %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
