<h1>
  Psst... Hey
  <%= @user.email %>
</h1>

 <p>We sent you an email confirmation email.  If you like to live dangerlously, read it.</p>

<p>
  <strong>***** Email Terms And Conditions *****</strong>
</p>

<ul>
  <li>By reading previously mentioned email confirmation email, you agree to pretend it was dangerous, even though we all know it was pretty darn dull</li>
  <li>You agree that all attempts at humor are, and always, will be funny as heck</li>
  <li>Lastly, you agree that these are the best Email Terms And Conditions you have, or will ever, read in your natural and/or unnatural lifetime(s)</li>
</ul>
