<h1>Sign Up</h1>

<%= form_tag sign_up_emails_path do %>
  <%= render 'rails_authentication_engine/shared/errors', errors: @email_confirmation.errors %>
  <p>
    Email:<br />
    <%= text_field_tag :email %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
