<p>
  Dear
  <%= @user.email %>,
</p>

<p>
  If your actual name is
  <%= @user.email %>,
  we think that is quite interesting.
</p>

<p>
  To confirm your email, please
  <%= link_to "click here", "#{rails_authentication_engine.new_sign_up_password_url}?token=#{@user.reset_password_token_as_urlsafe_base64}" %>.
</p>

<p>
  Cheers,
  <br />
  Michael
</p>
