<p>
  Dear
  <%= @email_confirmation.email %>,
</p>

<p>
  If your actual name is
  <%= @email_confirmation.email %>,
  we think that is quite interesting.
</p>

<p>
  To confirm your email, please
  <%= link_to "click here", "#{rails_authentication_engine.new_sign_up_password_url}?token=#{@email_confirmation.token}" %>
  within 24 hours.
</p>

<p>
  Cheers,<br />
  Michael
</p>
