<h1>
  OMG
  <%= @email_confirmation.email.upcase%>
  LOST HIS AND&#47;OR HER PASSWORD!
</h1>

<p>Sorry for the 'yelling'.  Password Recovery is a lesser used feature, and someone must have been excited to send you a password recovery email.  You may now check your inbox.  Or do it later if you prefer.</p>

<p>
  <strong>***** Email Terms And Conditions *****</strong>
</p>

<ul>
  <li>You agree that any hearing loss that coincided with reading a sentence in all caps was purely coincidental</li>
  <li>You agree to seek out an event in your life that makes you so excited, you are inspired to yell in all caps, too, beceause being that excited about something is awesome</li>
  <li>When someone asks you 'Guess what?', you agree to respond with 'What?', even though you know they'll say 'Chicken butt!'</li>
</ul>
